<h1>Organization</h1>

<table>
  <tbody>
    <tr>
      <th>Event Name</th>
      <th>Action</th>
    </tr>

    <% @events.each do |event| %>
      <tr>
        <td><%= event.title %></td>
      </tr>
    <% end %>
  </tbody>
</table>
