<h1>About TechCore</h1>
<p>TechCore is a project built by CodeCore students.</p>
<p>See the source code at GitHub: <a href="https://github.com/Shaun-Schwartz/tech-core" target="_blank">tech-core</a></p>
<p>See the deployed project at Heroku: Pending</p>
<p>&nbsp;</p>
<h5>Members</h5>
<div class="row justify-content-center">
    <div class="col-8 col-sm-6 col-md-4 col-lg-3">
      <div class="card sm-6 mb-4 lg-3 box-shadow aboutCard" onclick="javascript=window.open('https://github.com/BrooklinJazz')">
        <img src="https://avatars0.githubusercontent.com/u/14877564?s=400&v=4" class="img-responsive center-block aboutImg">
        <div class="card-body">
          <p class="card-title">BrooklinJazz</p>
          <p class="card-text"><a href="https://github.com/BrooklinJazz" target="_blank">GitHub</a></p>
        </div>
      </div>
    </div>
    <div class="col-8 col-sm-6 col-md-4 col-lg-3">
      <div class="card sm-6 mb-4 lg-3 box-shadow aboutCard" onclick="javascript=window.open('https://github.com/chilidoggca')">
        <img src="https://avatars2.githubusercontent.com/u/32340800?s=460&v=4" class="img-responsive center-block aboutImg">
        <div class="card-body">
          <p class="card-title">chilidoggca</p>
          <p class="card-text"><a href="https://github.com/chilidoggca" target="_blank">GitHub</a></p>
        </div>
      </div>
    </div>
    <div class="col-8 col-sm-6 col-md-4 col-lg-3">
      <div class="card sm-6 mb-4 lg-3 box-shadow aboutCard" onclick="javascript=window.open('https://github.com/gustavoparolin')">
        <img src="https://avatars3.githubusercontent.com/u/26214135?s=460&v=4" class="img-responsive center-block aboutImg">
        <div class="card-body">
          <p class="card-title">gustavparolin</p>
          <p class="card-text"><a href="https://github.com/gustavoparolin" target="_blank">GitHub</a></p>
        </div>
      </div>
    </div>
    <div class="col-8 col-sm-6 col-md-4 col-lg-3">
      <div class="card sm-6 mb-4 lg-3 box-shadow aboutCard" onclick="javascript=window.open('https://github.com/rhong1006')">
        <img src="https://avatars3.githubusercontent.com/u/16049907?s=400&v=4" class="img-responsive center-block aboutImg">
        <div class="card-body">
          <p class="card-title">rhong1006</p>
          <p class="card-text"><a href="https://github.com/rhong1006" target="_blank">GitHub</a></p>
        </div>
      </div>
    </div>
    <div class="col-8 col-sm-6 col-md-4 col-lg-3">
      <div class="card sm-6 mb-4 lg-3 box-shadow aboutCard" onclick="javascript=window.open('https://github.com/Shaun-Schwartz')">
        <img src="https://avatars1.githubusercontent.com/u/33434280?s=460&v=4" class="img-responsive center-block aboutImg">
        <div class="card-body">
          <p class="card-title">Shaun-Schwartz</p>
          <p class="card-text"><a href="https://github.com/Shaun-Schwartz" target="_blank">GitHub</a></p>
        </div>
      </div>
    </div>
    <div class="col-8 col-sm-6 col-md-4 col-lg-3">
      <div class="card sm-6 mb-4 lg-3 box-shadow aboutCard" onclick="javascript=window.open('https://github.com/wdcunha')">
        <img src="https://avatars2.githubusercontent.com/u/22294239?s=460&v=4" class="img-responsive center-block aboutImg">
        <div class="card-body">
          <p class="card-title">wdcunha</p>
          <p class="card-text"><a href="https://github.com/wdcunha" target="_blank">GitHub</a></p>
        </div>
      </div>
    </div>
</div>
