body {
  margin: 0;
}

.has-error > .help-block {
  color: red;
}

.nav-link {
  margin: 20px;
}

#messages {
  margin-top: 20px;
}

#map {
  margin-top: 20px;
  border-radius: 20px;
  border: 1px solid black;
}

.blog-img {
  object-fit: cover;
  height: 150px;
  width: 100%;
}

.card > img {
  width: 200px;
  margin: 10px 20px;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
